<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conception - emerging artists</title>
  <link rel="stylesheet" href="themify-icons.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="vendor/slick-carousel/slick/slick.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="css/app.css" />
  <script src="vendor/modernizr/modernizr.js"></script>
</head>

<body id="about">
<div class="top-header-bar">
    <div class="row">
      <a href="/" class="large-7 columns logo">conception events</a>
      <a href="/login" class="large-1 columns login">Login</a>
      <div class="large-4 columns">
        <a href="/register">
            <button class="small-12"><span class="ti-plus"></span>
          <span class="text">join the experience<i>submit today!</i></span>
        </button>
        </a>
      </div>
    </div>
  </div>




  <div class="row">
    <div class="large-12 columns clearfix">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <!-- <h1><a href="#">My Site</a></h1> -->
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li class="events"><a href="/events">events</a></li>
            <li class="about_us"><a href="/about">about us</a></li>
            <li class="press"><a href="/press">press</a></li>
            <li class="gallery"><a href="/gallery">gallery</a></li>
            <li class="campus"><a href="/campus">campus</a></li>
            <li class="whats_new"><a href="/what-new">what's new</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
	
	<div class="row about_us_text">
		<div class="large-10 columns">
			<h3>WHAT IS CONCEPTION?</h3>

			<p>Conception is a platform for emerging artists looking to kick start their career.
				Based in New York City with art events throughout the United States and Europe.
				We provide our artists with the tools and resources to help elevate them, both creatively 
				and professionally.</p>

			<p>We produce and curate custom art events and festivals with a focus on connecting our creatives 
				with industry professionals, buyers at the same time fostering relationships with 
				their artistic peers.</p>

			<p>Conception is also proud to invest in our emerging artists by providing access to our exclusive continuing education platform ‘Conception Campus’ 
			We know there is so much talent out there and we are constantly on the look out for the 
			next diamond in the rough.</p> 

			<p>We welcome submissions from artists/musicians/performers of ALL mediums.</p>

      <img src="About_Us_Image.jpg" alt="conception team" class="about-image"/>

			<h4>HOW IT ALL BEGAN</h4>
      <p>Conception was founded in 2011 in New York City. The concept of two artists, Rachel Wilkins and Mike Wolf. 
			As emerging artists themselves they began to see the stumbling blocks and lack of resources available to 
			creative people who were starting out their careers.</p>

			<p>It was from here that the idea of a large scale, multi-media show was born and in 2011 Conception firmly found 
			it's footing in Tribeca, New York City, to great acclaim. Partnering with media sponsor, "Downtown Express"" and 
       welcoming hundreds of guests to each event</p>

			<p>Our expertly curated Emerging Artists events have premiered a carefully selected group of 
				artists from varying mediums over the past 4 years.</p>
			
		</div>
		
	</div>

<!--   <div class="row team-list">
    <div class="large-5 columns">
        <img src="images/rachel.jpg" alt="Rachel Wilkins" />
    </div>
    <div class="large-7 columns team-info">
        <h3>Rachel Wilkins</h3>
        <p>An artist from Liverpool, Rachel has a background in business, and is the founder of Conception Events. Rachel is also head of public relations and is lead on venue aquisitions for Conception events. Rachel pairs with Mr. Wolf on all decisions concerning venue and Conception event curration.</p>
        <a href="mailto:rachelwilkins@conceptionevents.com"><i class="icon-mail"></i>rachelwilkins@conceptionevents.com</a>
    </div>
  </div> -->

<!--     <div class="row team-list">
    <div class="large-5 columns">
        <img src="images/mike.jpg" alt="Mike Wolf" />
    </div>
    <div class="large-7 columns team-info">
        <h3>Mike Wolf</h3>
        <p>A trained illustrator and painter, Mike is a seasoned graphic designer and Conception Events Creative Director. Additionally, Mike is co-currator and event planner for all Conception events.</p>
        <a href="mailto:mikewolf@conceptionevents.com"><i class="icon-mail"></i>mikewolf@conceptionevents.com</a>
    </div>
  </div> -->

<!--     <div class="row team-list">
    <div class="large-5 columns">
        <img src="images/jennifer.jpg" alt="Jennifer Blum" />
    </div>
    <div class="large-7 columns team-info">
        <h3>Jennifer Blum</h3>
        <p>A Lawyer practicing in both New York and New Jersey, Jennifer handles all legal aspects of Conception, as well as providing valuable contributions to the daily business of Creating our Conception events.</p>
        <a href="mailto:jenniferblum@conceptionevents.com"><i class="icon-mail"></i>jenniferblum@conceptionevents.com</a>
    </div>
  </div> -->


  <div class="row">
    <div class="large-12 columns">
      <span class="scrollup"><i class="icon-angle-double-up"></i>Scroll up</span>
    </div>
  </div>

  <div class="row">
    <div class="large-12 colums">
      <ul class="inline-list footer-social">
        <li>
          <a href="https://www.facebook.com/ConceptionEvents" class="icon-facebook-circled"></a>
        </li>
        <li>
          <a href="https://twitter.com/ConceptionNYC" class="icon-twitter-circled"></a>
        </li>
        <!--               <li><a href="#" class="icon-social-pinterest"></a></li>
              <li><a href="#" class="icon-gplus-circled"></a></li> -->
      </ul>
    </div>
  </div>

  <div class="row">
    <large-12 class="cloumns copyright">
      <p class="text-center">Copyright &copy; 2014 Conception</p>
    </large-12>
  </div>



  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/foundation/js/foundation.min.js"></script>
	 <script src="/vendor/slick-carousel/slick/slick.js"></script>
   <script src="/js/jquery.validate.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
