<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conception - emerging artists</title>
  <link rel="stylesheet" href="/themify-icons.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/css/app.css" />
  <script src="/vendor/modernizr/modernizr.js"></script>
</head>

<body id="artist_login">
  <div class="row">
    <div class="large-12 columns">
          <div id="mySubmission">
    <div class="inner-modal">
            <a href="/" class="logo">conception events</a>
    <form id="loginForm" method="post" action="">
        <div class="date_picker">
            <p><input type="text" name="email" class="text" placeholder="Email" required/>
                <input type="password" name="password" class="password" placeholder="Password" required/></p>

         <div class="row">
             <div class="large-12 columns">
                 <button type="submit" class="expand register-submit">Login</button>
             </div>
         </div>

        </div>
    </form>
    </div>

</div>

    </div>

  </div>


  <div class="row">
    <large-12 class="cloumns copyright">
      <p class="text-center">Copyright &copy; 2014 Conception</p>
    </large-12>
  </div>



  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/foundation/js/foundation.min.js"></script>
    <script src="/vendor/slick-carousel/slick/slick.js"></script>
   <script src="/js/jquery.validate.js"></script>
  <script src="/js/main.js"></script>
</body>

</html>
