<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conception - emerging artists</title>
  <link rel="stylesheet" href="themify-icons.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/app.css" />
  <script src="vendor/modernizr/modernizr.js"></script>

</head>

<body id="campus">
	  <div class="row">
    <div class="large-12 columns clearfix">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <!-- <h1><a href="#">My Site</a></h1> -->
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li class="events"><a href="/events">events</a></li>
            <li class="about_us"><a href="/about">about us</a></li>
            <li class="press"><a href="/press">press</a></li>
            <li class="gallery"><a href="/gallery">gallery</a></li>
            <li class="campus"><a href="/campus">campus</a></li>
            <li class="whats_new"><a href="/what-new">what's new</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>
    <div class="campus-inner">
        <span class="campus-logo"></span>
  <h2>Welcome to CONCEPTION CAMPUS</h2>
	<span>'The Art of Learning the Business of Art!'</span>
  <p class="text-center">Welcome to Campus!</p>
<p>Here at Conception Campus we provide educational tutorials, webinars and face-to-face seminars for our Emerging Artists.
Covering topics from ‘How to effectively utilize social media for your genre of art’ to ‘ legal advice on handling art or gallery contracts’</p> 

  <p>Our classes are presented by a carefully crafted list of industry professionals and experts.</p>

<p>Our face-to-face seminars are comprised of groups of like-minded creatives, allowing for personalized attention from instructors to meet your needs.</p> 

<p>In addition our On-Demand Webinars provide an opportunity for artists to build there skill set from the comfort of there own home.</p>

<p>We feature in-person and on-demand presentations from Guest Speakers, Successful members of the creative community and working artists.</p>

  <p>Campus is proud to teach you the 'Art of Learning the Business of Art'</p>

  <p>CAMPUS OPENS SEPTEMBER 1st 2014</p>
    </div>
    
</body>

</html>
