<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conception - emerging artists</title>
  <link rel="stylesheet" href="themify-icons.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/app.css" />
  <script src="vendor/modernizr/modernizr.js"></script>

</head>

<body id="gallery">
    <div class="gallery-inner">
        <span class="gallery-logo"></span>

        <p>Conception Gallery specializes in contemporary works of both local and international artists
        <span>Long Island City, NY</span></p>


    </div>
</body>

</html>
