<!doctype html>
<html class="no-js" lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conception - emerging artists</title>
  <link rel="stylesheet" href="themify-icons.css">
  <link rel="stylesheet" href="css/fonts.css">
  <link rel="stylesheet" href="css/app.css" />
  <script src="vendor/modernizr/modernizr.js"></script>

</head>

<body id="gallery">
<div class="top-header-bar" style="height: 77px;">
    <div class="row">
      <a href="/" class="large-7 columns logo">conception events</a>
      <a href="/login" class="large-1 columns login">Login</a>
      <div class="large-4 columns">
        <a href="/register">
            <button class="small-12"><span class="ti-plus"></span>
          <span class="text">Submit Your Work</span>
        </button>
        </a>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="large-12 columns clearfix">
      <nav class="top-bar" data-topbar style="overflow:hidden">
        <ul class="title-area">
          <li class="name">
            <!-- <h1><a href="#">My Site</a></h1> -->
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
<!--             <li><a href="/events">events</a></li> -->
            <li><a href="/about">about us</a></li>
            <li><a href="/press">press</a></li>
            <li><a href="/gallery">gallery</a></li>
            <li><a href="/campus">campus</a></li>
            <li><a href="/what-new">what's new</a></li>
          </ul>
					<form action="/artist_search" method="post" class="search_artist_form">
						<div id="prefetch"><input name="query" class="text typeahead" placeholder="Search for artist..."/></div>
						<button type="submit" class="search icon-search"></button>
					</form>
        </section>
      </nav>
    </div>
  </div>
    <div class="gallery-inner">
        <span class="gallery-logo"></span>

        <p>Conception Gallery specializes in contemporary works of both local and international artists
        <span>Long Island City, NY</span></p>


    </div>
</body>

</html>
