<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conception - emerging artists</title>
  <link rel="stylesheet" href="/themify-icons.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/vendor/slick-carousel/slick/slick.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/app.css" />
  <script src="/vendor/modernizr/modernizr.js"></script>
</head>
<body>
<div class="top-header-bar">
    <div class="row">
      <a href="/" class="large-7 columns logo">conception events</a>
      <a href="/login" class="large-1 columns login">Login</a>
      <div class="large-4 columns">
        <a href="/register">
            <button class="small-12"><span class="ti-plus"></span>
          <span class="text">Submit Your Work</span>
        </button>
        </a>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="large-12 columns clearfix">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <!-- <h1><a href="#">My Site</a></h1> -->
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
<!--             <li><a href="/events">events</a></li> -->
            <li><a href="/about">about us</a></li>
            <li><a href="/press">press</a></li>
            <li><a href="/gallery">gallery</a></li>
            <li><a href="/campus">campus</a></li>
            <li><a href="/what-new">what's new</a></li>
          </ul>
					<form action="/artist_search" method="post" class="search_artist_form">
						<div id="prefetch"><input name="query" class="text typeahead" placeholder="Search for artist..."/></div>
						<button type="submit" class="search icon-search"></button>
					</form>
        </section>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="home-slider">
			  <div>
          <img src="/images/carousel/one.jpg" />
<!--           <span class="caption index-0">"I really enjoyed my time at this latest event! Met some great people,
						saw some amazing art, and the live 'duels' and performances really took it up another level,
						making it (in my eyes) superior to other shows! I liked how there were many artists featured,
						but it was still very organized, and not clustered" - <em>Artist, Danny Quirk (New York City)</em></span> -->
        </div>
        <div>
          <img src="/images/carousel/two.jpg" />
<!--           <span class="caption index-1">"My experience has been nothing but enjoyable.
						They (Conception Team) are professional, understanding, down to earth, true artists.
						Thank God for Conception and showing the world that "Its about the art" - <em>Artist, John Kolbeck (Philadelphia)</em></span> -->
        </div>
        <div>
          <img src="/images/carousel/three.jpg" />
<!--           <span class="caption index-2">"We are all like a family at this point.
						We work hard and play harder in this crazy group of ours and it shows."
            "We are all passionate about taking it to the next level with our work and bringing
						what's been missing in NYC's art scene for decades" - <em>Mani Price</em></span> -->
        </div>
        <div>
          <img src="/images/carousel/four.jpg" />
<!--           <span class="caption index-3">"Conception are an absolute pleasure to work with and the events
						feature so much great talent, have great energy, and are a great platform for artists to showcase
						their work.  Happy to be a part of the Conception family and if you're an emerging artist
						presented with the opportunity to be a part of it, I say go for it!" - <em>Elom Bowman, Sneaker Artist (New York City)</em></span> -->
        </div>
        <div>
          <img src="/images/carousel/five.jpg" />
<!--           <span class="caption index-4">"What makes me keep coming back to exhibit at a Conception show is the incredible amount of dedication,
						hard work, and, most important, respect given to the artists they represent" - <em>Artist, Ka-son Reeves(New York City)</em></span> -->
        </div>
				<div>
          <img src="/images/carousel/six.jpg" />
<!--           <span class="caption index-5">"New York City Band, Hampton Brothers"</span> -->
        </div>
				        <div>
          <img src="/images/carousel/seven.jpg" />
<!--           <span class="caption index-6">"Elevating, Educating, and Celebrating the creative community since 2011" - <em>Artwork by Michael Hurt</em></span> -->
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns logos">
			<img src="images/logos_transparent_v1.png" alt="" />
			<!--ul class="inline-list text-center">
				<li><a><img src="/images/WSJ_logo_2.png" width="100"></a></li>
				<li><a><img src="/images/dnainfo_2.png" width="100"></a></li>
				<li><a><img src="/images/New_York_1.png" width="100"></a></li>
				<li><a><img src="/images/artillery_logo_2.png" width="100"></a></li>
			</ul-->
    </div>
  </div>
	
	<div class="row">
		<div class="large-10 columns home_intro">
			<p>Conception is a platform for emerging artists looking to kick start their career. 
				Based in New York City with art events throughout the United States and Europe. 
				We provide our artists with the tools and resources to help elevate them, 
				both creatively and professionally.</p>
		</div>
	</div>

  <div class="row body-content">
		<div class="large-4 columns">
			
			<ul class="event-row">
				<li class="list-title">
					upcoming shows
				</li>
<!-- 				<li class="first">
					<a href="http://www.conceptionevents.com/event/17622204488"><img src="/images/img_17622204488.png">
					<span class="event-date"><span><i class="month">Aug</i><i class="day">19</i></span></span>
					</a>
				</li> -->
				{{{html}}}
			</ul>
			
		</div>
		<div class="large-8 columns">
			<p><a href="#" class="tile" data-reveal-id="myVideo"><img src="/images/video_tile.jpg"></a>
				<a href=" http://www.conceptionevents.com/campus" class="tile"><img src="/images/campus_tile.jpg"></a>
			</p>
				<p><a href="http://www.hiconceptmag.com" class="tile"><img src="/images/hi_concept_tile.png"></a>
				<a href="http://theconceptiongallery.com" class="tile"><img src="/images/gallery_tile.jpg"></a>
			</p>
		</div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <span class="scrollup"><i class="icon-angle-double-up"></i>Scroll up</span>
    </div>
  </div>

  <div class="row">
    <div class="large-12 colums">
      <ul class="inline-list footer-social">
        <li>
          <a href="https://www.facebook.com/ConceptionEvents" class="icon-facebook-circled"></a>
        </li>
        <li>
          <a href="https://twitter.com/ConceptionNYC" class="icon-twitter-circled"></a>
        </li>
        <li><a href="mailto:info@conceptionevents.com" class="icon-mail"></a></li>
            
      </ul>
    </div>
  </div>

  <div class="row">
    <large-12 class="cloumns copyright">
      <p class="text-center">Copyright &copy; 2015 Conception</p>
    </large-12>
  </div>


  <!-- video -->
  <div id="myVideo" class="reveal-modal medium" data-reveal>
    <div class="flex-video-new">
      <iframe width="640" height="360" src="//www.youtube.com/embed/NKOP2g-fikc" frameborder="0" allowfullscreen></iframe>
    </div>
    <a class="close-reveal-modal" id="close-video">&#215;</a>
  </div>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/foundation/js/foundation.min.js"></script>
  <script src="/vendor/slick-carousel/slick/slick.js"></script>
   <script src="/js/jquery.validate.js"></script>
	 <script src="/js/typeahead.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
  <script src="js/main.js"></script>


</body>
</html>
