<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Conception - emerging artists</title>
  <link rel="stylesheet" href="/themify-icons.css">
  <link rel="stylesheet" href="/css/fonts.css">
  <link rel="stylesheet" href="/vendor/slick-carousel/slick/slick.css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/css/app.css" />
  <script src="vendor/modernizr/modernizr.js"></script>
</head>
<body>
<div class="top-header-bar">
    <div class="row">
      <a href="/" class="large-7 columns logo">conception events</a>
      <a href="/login" class="large-1 columns login">Login</a>
      <div class="large-4 columns">
        <a href="/register">
            <button class="small-12"><span class="ti-plus"></span>
          <span class="text">join the experience<i>submit today!</i></span>
        </button>
        </a>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="large-12 columns clearfix">
      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <!-- <h1><a href="#">My Site</a></h1> -->
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span></span></a>
          </li>
        </ul>

        <section class="top-bar-section">
          <!-- Left Nav Section -->
          <ul class="left">
            <li><a href="/events">events</a></li>
            <li><a href="/about">about us</a></li>
            <li><a href="/press">press</a></li>
            <li><a href="/gallery">gallery</a></li>
            <li><a href="/campus">campus</a></li>
            <li><a href="/what-new">what's new</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <div class="home-slider">
			  <div>
          <img src="/images/slider-image.jpg" />
          <span class="caption index-0">"I really enjoyed my time at this latest event! Met some great people,
						saw some amazing art, and the live 'duels' and performances really took it up another level,
						making it (in my eyes) superior to other shows! I liked how there were many artists featured,
						but it was still very organized, and not clustered" - <em>Artist, Danny Quirk (New York City)</em></span>
        </div>
        <div>
          <img src="/images/john-kolbeck.jpg" />
          <span class="caption index-1">"My experience has been nothing but enjoyable.
						They (Conception Team) are professional, understanding, down to earth, true artists.
						Thank God for Conception and showing the world that "Its about the art" - <em>Artist, John Kolbeck (Philadelphia)</em></span>
        </div>
        <div>
          <img src="/images/mani_price.jpg" />
          <span class="caption index-2">"We are all like a family at this point.
						We work hard and play harder in this crazy group of ours and it shows."
            "We are all passionate about taking it to the next level with our work and bringing
						what's been missing in NYC's art scene for decades" - <em>Mani Price</em></span>
        </div>
        <div>
          <img src="/images/elom_bowman2.jpg" />
          <span class="caption index-3">"Conception are an absolute pleasure to work with and the events
						feature so much great talent, have great energy, and are a great platform for artists to showcase
						their work.  Happy to be a part of the Conception family and if you're an emerging artist
						presented with the opportunity to be a part of it, I say go for it!" - <em>Elom Bowman, Sneaker Artist (New York City)</em></span>
        </div>
        <div>
          <img src="/images/ka_son.jpg" />
          <span class="caption index-4">"What makes me keep coming back to exhibit at a Conception show is the incredible amount of dedication,
						hard work, and, most important, respect given to the artists they represent" - <em>Artist, Ka-son Reeves(New York City)</em></span>
        </div>
				<div>
          <img src="/images/hampton_bros_v4.jpg" />
          <span class="caption index-5">"New York City Band, Hampton Brothers"</span>
        </div>
				        <div>
          <img src="/images/Hurt.jpg" />
          <span class="caption index-6">"Elevating, Educating, and Celebrating the creative community since 2011" - <em>Artwork by Michael Hurt</em></span>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="large-9 columns">
      <ul class="tabs show-for-medium-up" data-tab>
        <li class="letter-space tab-title active"><a href="#panel2-1">Upcoming events</a>
        </li>
        <li class="letter-space tab-title"><a href="#panel2-2">Past events</a>
        </li>
        <li class="letter-space tab-title"><a href="#panel2-3">All events</a>
        </li>
      </ul>
    </div>
    <div class="large-3 columns">
      <span class="watch_video"><i class="icon-play-video"></i>
        <a href="#" data-reveal-id="myVideo">watch our video</a>
    </span>
    </div>
  </div>

  <div class="row body-content">
    <div class="large-12 columns">
      <dl class="accordion" data-accordion>
        <dd class="accordion-navigation">
          <a href="#panel2-1" class="show-for-small-only">Upcoming events</a>
          <div class="content active upcoming-event" id="panel2-1"></div>

          <a href="#panel2-2" class="show-for-small-only">Past events</a>
          <div class="content past-event" id="panel2-2">

        <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/lic.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Long Island City Conception Emerging Artists Festival</a></span>
                <span class="event-location">Long Island City, Queens NY</span>{{!-- <span class="event-time"></span>,<span class="event-venue"></span> --}}<div class="past-date"><em>June 6-13</em></div>

              </div>
            </div>

            <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/tribecca.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Conception Tribeca</a></span>
            <span class="event-location">Tribeca, New York City</span>{{!-- <span class="event-time"></span>,<span class="event-venue"></span> --}}<div class="past-date"><em>July 11, 2012</em></div>

              </div>
            </div>

            <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/tribecca_3.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Conception Tribeca III</a></span>
                <span class="event-location">Tribeca, New York City</span><span class="event-time"></span>,
                <span class="event-venue">National Breast Cancer Foundation, INC Charity Event</span><div class="past-date"><em>April 11, 2012</em></div>

              </div>
            </div>

            <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/tribecca_2.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Conception Tribeca II</a></span>
                <span class="event-location">Tribeca, New York City</span>{{!-- <span class="event-time"></span>,<span class="event-venue"></span> --}}<div class="past-date"><em>January 25, 2012</em></div>

              </div>
            </div>

            <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/tribecca.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Conception Tribeca</a></span>
                <span class="event-location">Tribeca, New York City</span>{{!-- <span class="event-time"></span>,<span class="event-venue"></span> --}}<div class="past-date"><em>October 26, 2011</em></div>

              </div>
            </div>


          </div>

          <a href="#panel2-3" class="show-for-small-only">All events</a>
          <div class="content all-event" id="panel2-3">

                    <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/lic.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Long Island City Conception Emerging Artists Festival</a></span>
                <span class="event-location">Long Island City, Queens NY</span>{{!-- <span class="event-time"></span>,<span class="event-venue"></span> --}}<div class="past-date"><em>June 6-13</em></div>

              </div>
            </div>

            <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/tribecca.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Conception Tribeca</a></span>
            <span class="event-location">Tribeca, New York City</span>{{!-- <span class="event-time"></span>,<span class="event-venue"></span> --}}<div class="past-date"><em>July 11, 2012</em></div>

              </div>
            </div>

            <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/tribecca_3.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Conception Tribeca III</a></span>
                <span class="event-location">Tribeca, New York City</span><span class="event-time"></span>,
                <span class="event-venue">National Breast Cancer Foundation, INC Charity Event</span><div class="past-date"><em>April 11, 2012</em></div>

              </div>
            </div>

            <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/tribecca_2.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Conception Tribeca II</a></span>
                <span class="event-location">Tribeca, New York City</span>{{!-- <span class="event-time"></span>,<span class="event-venue"></span> --}}<div class="past-date"><em>January 25, 2012</em></div>

              </div>
            </div>

            <div class="row event-row">
              <div class="large-4 columns event-image">
                <a class="th" href="#">
                  <img src="/images/tribecca.jpg" />
                </a>
              </div>
              <div class="large-8 columns event-meta">
                <span class="letter-space event-type">artist</span>
                <span class="letter-space event-title"><a href="#">Conception Tribeca</a></span>
                <span class="event-location">Tribeca, New York City</span>{{!-- <span class="event-time"></span>,<span class="event-venue"></span> --}}<div class="past-date"><em>October 26, 2011</em></div>

              </div>
            </div>


          </div>

        </dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <span class="scrollup"><i class="icon-angle-double-up"></i>Scroll up</span>
    </div>
  </div>

  <div class="row">
    <div class="large-12 colums">
      <ul class="inline-list footer-social">
        <li>
          <a href="https://www.facebook.com/ConceptionEvents" class="icon-facebook-circled"></a>
        </li>
        <li>
          <a href="https://twitter.com/ConceptionNYC" class="icon-twitter-circled"></a>
        </li>
        <!--               <li><a href="#" class="icon-social-pinterest"></a></li>
              <li><a href="#" class="icon-gplus-circled"></a></li> -->
      </ul>
    </div>
  </div>

  <div class="row">
    <large-12 class="cloumns copyright">
      <p class="text-center">Copyright &copy; 2014 Conception</p>
    </large-12>
  </div>


  <!-- video -->
  <div id="myVideo" class="reveal-modal medium" data-reveal>
    <div class="flex-video-new">
      <iframe width="640" height="360" src="//www.youtube.com/embed/NKOP2g-fikc" frameborder="0" allowfullscreen></iframe>
    </div>
    <a class="close-reveal-modal" id="close-video">&#215;</a>
  </div>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/vendor/foundation/js/foundation.min.js"></script>
  <script src="/vendor/slick-carousel/slick/slick.js"></script>
   <script src="/js/jquery.validate.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
  <script src="js/main.js"></script>

<script>
  window.eventList = {{{data}}}
  </script>
	
	<script>
		$(function(){
			$(document).on('click', '.buy-tickets', function(){
				console.log('yes');
				$.cookie('conception_general_sale', 'yes', {path: '/'});
			});
		});

		
	</script>
</body>
</html>
