<html>
	<head></head>
	<body>
			<form method="post" action="/test/login">
				<input type="text" name="full_name" placeholder="Full Name">
				<input type="password" name="password" placeholder="Password">
				<input type="email" name="email" placeholder="Email">
				<button type="submit">Register</button>
			</form>

	</body>
</html>