<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us - Conception Events</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/preloader.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="js/lte-ie7.js"></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <header>
        <div class="container logo-bar" id="Home">
            <a class="navbar-brand" href="/"><img src="images/logo2.png" alt=""></a>
            <nav class="navbar navi">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login" class="log">LOGIN</a></li>
                    <li><a href="/login" class="btn-primary">Submit your work</a></li>
                </ul>
            </nav>
        </div>
        <div class="section_overlay">
            <nav class="">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="">MAIN MENU</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/about">about us</a></li>
                            <li><a href="/press">press</a></li>
<!--                             <li><a href="/campus">campus</a></li> -->
                            <li><a href="/what-new">what's new</a></li>
                           <li><a href="/community">community</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right social">
																										<li><a href="https://www.pinterest.com/conceptionarts"><i class="fa fa-pinterest"></i></a></li>
												  <li><a href="https://www.instagram.com/conceptionnyc"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/ConceptionEvents"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitt">
                                <a href="https://twitter.com/ConceptionNYC"><i class="fa fa-twitter"></i></a>
                            </li>
											</ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </div>
    </header>
    <section class="text-1">
        <div class="container text">
            <div class="row">
                <div class="col-md-12">
                    <h1>What is Conception?</h1>
									<p>Conception is a platform for emerging artists looking to kick start their career. Based in New York City with art events throughout the United States and Europe. We provide our artists with the tools and resources to help elevate them, both creatively and professionally.</p>

<p>We produce and curate custom art events and festivals with a focus on connecting our creatives with industry professionals and buyers as well as fostering relationships with their artistic peers.</p>
                   <p>Conception is also proud to invest in our emerging artists by providing access to our exclusive continuing education platform ‘Conception Campus’ We know there is so much talent out there and we are constantly on the look out for the next diamond in the rough.</p>
                    <p>We welcome submissions from artists/musicians/performers of ALL mediums.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="text-2">
        <div class="container text">
            <div class="row">
                <div class="col-md-12">
                    <img src="images/banner.jpg" alt="" class="banner">
                </div>
            </div>
        </div>
    </section>
    <section class="text-2">
        <div class="container text">
            <div class="row">
                <div class="col-md-12">
                    <h1>How it all began</h1>
                   <p>Conception was founded in 2011 in New York City. The concept of artists Rachel Wilkins and Mike Wolf. As emerging artists they began to see the stumbling blocks and lack of resources available to artists who were starting out their careers.</p>

<p>It was from here that the idea of a large scale, multi-media show was born and in 2011 Conception firmly found it's footing in Tribeca, New York City, to great acclaim, welcoming hundreds of guests to each event.</p>

<p>Conception has exhibited the work of artists in New York, Philadelphia, Miami, Dallas and the UK with plans to visit a number of additional U.S. Cities in 2016.</p>

<p>Our team pride themselves on being hands on at all events and go to great lengths to nurture, develop and guide every artist we work with. Here's what artists around the country have to say about Conception Art Shows:</p>
                    <hr />
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xm-6 text-left">
                    <p class="copyright">© 2015 Conception Events</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/new/js/jquery.min.js"></script>
    <script src="/js/new/js/bootstrap.js"></script>
    <script src="/js/new/js/jquery.nicescroll.js"></script>
    <script src="/js/new/js/wow.js"></script>
    <script src="/js/new/js/script.js"></script>
	 <script src="/js/jquery.validate.js"></script>
	 <script src="/js/typeahead.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
