<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>About Us - Conception Events</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/preloader.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="js/lte-ie7.js"></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
	
	<style>
		img{
			max-width: 100%;
			display: block;
		}
		
		h4{
			margin-top: 20px;
		}
		
		.fixed_width{
			width: 600px;
		}
		
		.row{
			margin: 10px 0;
		}
	</style>
</head>

<body>
    <header>
        <div class="container logo-bar" id="Home">
            <a class="navbar-brand" href="/"><img src="images/logo2.png" alt=""></a>
            <nav class="navbar navi">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login" class="log">LOGIN</a></li>
                    <li><a href="/login" class="btn-primary">Submit your work</a></li>
                </ul>
            </nav>
        </div>
        <div class="section_overlay">
            <nav class="">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="">MAIN MENU</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/about">about us</a></li>
                            <li><a href="/press">press</a></li>
<!--                             <li><a href="/campus">campus</a></li> -->
                            <li><a href="/what-new">what's new</a></li>
                            <li><a href="/community">community</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right social">
                            <li><a href="https://www.facebook.com/ConceptionEvents"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitt">
                                <a href="https://twitter.com/ConceptionNYC"><i class="fa fa-twitter"></i></a>
                            </li>
											</ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </div>
    </header>
    <section class="text-1">
        <div class="container text">
            <div class="row">
                <div class="col-md-10">
									<h1>Community Page</h1>
                   <p>Welcome to our community page, keeping you up to date with the latest happening's, exhibits and announcements!</p> 

                    <h4>Conception Gallery debuts art work by Sammy 'The Bull' Gravano in 'Incarcerated'</h4>
									<a href="http://nypost.com/2015/10/28/sammy-the-bulls-prison-sketches-getting-rave-reviews/">http://nypost.com/2015/10/28/sammy-the-bulls-prison-sketches-getting-rave-reviews/</a>
                 <img src="/images/bull.jpg" alt="" class="fixed_width" />
							</div>
            </div>
			
					  <div class="row">
                <div class="col-md-10">
								
                   <h4>Conception Art Show kicks off its first Dallas show at the famous Southfork Ranch:</h4>
                  <img src="/images/bull2.jpg" alt="" class="fixed_width"/>
									<span>Saturday October 24th, Conception Art Show welcomed a packed house of Dallas art enthusiasts and supporters. A tremendously successful evening with over 20 recorded sales by our exhibiting artists!</span>
							</div>
            </div>
					
						 <div class="row">
                <div class="col-md-10">
								
                   <h4>Congratulations to Andrew Kochie for scooping the Conception Art Show - Dallas, juried award for excellence!</h4>
                  <img src="/images/bull3.jpg" alt="" class="fixed_width" />
							</div>
            </div>
						<div class="row">
                <div class="col-md-10">
								
                   <h4>Rachel Maddow's 'Best New Thing Ever' is heading to Conception Art Fair:</h4>
                  <img src="/images/bull4.png" alt="" class="fixed_width" />
									<span><a href="http://mobile.philly.com/entertainment/?wss=/philly/entertainment/arts/&id=334885321&">http://mobile.philly.com/entertainment/?wss=/philly/entertainment/arts/&id=334885321</a></span>
							</div>
            </div>
					
						<div class="row">
                <div class="col-md-10">
								
                   <h4>Celebrity spotting at Conception Art Show in New York City:</h4>
                  <img src="/images/bull5.jpg" alt="" class="fixed_width" />
									<span>Multi Emmy award winning, journalist and CBS presenter of 60 minutes, Lesley Stahl stopped by CONCEPTION NYC on October 14th with her husband, New York Times and Rolling Stone contributor, Aaron Latham. Here are the duo chatting with artist, David Swope.</span>
							</div>
            </div>
					
					 <div class="row">
                <div class="col-md-10">
								
                   <h4>Conception welcomes marriage equality trailblazer, Eddie Windsor as guest of honor for the first annual Pride Art & Film Festival in New York City:</h4>
                  <img src="/images/bull6.jpg" alt="" class="fixed_width" />
									<img src="/images/bull7.jpg" alt="" class="fixed_width" />
									</div>
            </div>
					
					  <div class="row">
                <div class="col-md-10">
								
									<h4>Conception is proud to have supported the following non profits during 2014/15</h4>
                  <img src="/images/bull9.jpg" alt="" class="fixed_width" />
									<img src="/images/bull10.jpg" alt="" />
									<img src="/images/bull11.png" alt="" />
									</div>
            </div>
        </div>
    </section>
    <footer class="footer">
        <div class="container text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xm-6 text-left">
                    <p class="copyright">© 2015 Conception Events</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/new/js/jquery.min.js"></script>
    <script src="/js/new/js/bootstrap.js"></script>
    <script src="/js/new/js/jquery.nicescroll.js"></script>
    <script src="/js/new/js/wow.js"></script>
    <script src="/js/new/js/script.js"></script>
	 <script src="/js/jquery.validate.js"></script>
	 <script src="/js/typeahead.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
