<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Conception Events</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/preloader.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="js/lte-ie7.js"></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
    <header>
        <div class="container logo-bar" id="Home">
            <a class="navbar-brand" href="/"><img src="images/logo2.png" alt=""></a>
            <nav class="navbar navi">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login" class="log">LOGIN</a></li>
                    <li><a href="/login" class="btn-primary">Submit your work</a></li>
                </ul>
            </nav>
        </div>
        <div class="section_overlay">
            <nav class="">
                <div class="container non-border">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="">MAIN MENU</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/about">about us</a></li>
                            <li><a href="/press">press</a></li>
<!--                             <li><a href="/campus">campus</a></li> -->
                            <li><a href="/what-new">what's new</a></li>
                            <li><a href="/community">community</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right social">
																										<li><a href="https://www.pinterest.com/conceptionarts"><i class="fa fa-pinterest"></i></a></li>
												  <li><a href="https://www.instagram.com/conceptionnyc"><i class="fa fa-instagram"></i></a></li>
                            <li><a href="https://www.facebook.com/ConceptionEvents"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitt">
                                <a href="https://twitter.com/ConceptionNYC"><i class="fa fa-twitter"></i></a>
                            </li>
											</ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </div>
    </header>
    <section class="img-1">
        <div class="container text">
            <div class="row">
                <div class="col-md-12">
                    <img src="http://www.conceptionarts.com/images/carousel/six.jpg" alt="" class="header_image">
                </div>
            </div>
        </div>
    </section>
<!--     <section class="search">
        <div class="container">
            <div class="row">
                <form role="search">
                    <div class="form">
						<div class="search-group">			
							<form action="/artist_search" method="post" class="search_artist_form">
								<div id="prefetch"><input type="search" name="query" class="form-control text typeahead" placeholder="Search for artist..."></div>
							</form>
						</div>
						
                    </div>
                </form>
            </div>
        </div>
    </section> -->
    <section class="text-1">
        <div class="container text">
            <div class="row">
                <div class="col-md-12">
                    <p style="padding:20px 0;">
											Conception provides a variety of services aimed at assisting artists in the promotion and development of their work. Conception introduces collectors and investors to artists that are at the tipping point of their careers.  Our award winning art events and festivals take place throughout the U.S and Europe and have been featured in The Wall St. Journal, Paper Magazine and ABC News. Our exhibits offer collectors a unique opportunity to purchase and network directly with the artist. A 'greenhouse' for creativity, 
											we foster and nurture relationships within the arts community
									  </p>
                </div>
            </div>
        </div>
    </section>
    <section class="img-2">
        <div class="container text">
            <div class="row">
                <div class="col-md-12 text-center">
                    <img src="images/brand-img.jpg" alt="" class="brand_image">
                </div>
            </div>
        </div>
    </section>
<!--     <section class="img-3">
        <div class="container text">
                <div class="col-xm-12 col-sm-6 col-md-3 "><img src="images/img-1.jpg" alt=""></div>
                <div class="col-xm-12 col-sm-6 col-md-3 "><img src="images/img-2.jpg" alt=""></div>
                <div class="col-xm-12 col-sm-6 col-md-3 "><img src="images/img-3.jpg" alt=""></div>
                <div class="col-xm-12 col-sm-6 col-md-3 "><img src="images/img-4.jpg" alt=""></div>
        </div>
    </section> -->

    <section class="post-1">
        <div class="container text">
            <div class="col-md-12 text-center underline">
                <h1>Upcoming Shows</h1>
            </div>
          {{{html}}}         
        </div>
    </section>
    <footer class="footer">
        <div class="container text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xm-6 text-left">
                    <p class="copyright">© 2015 Conception Events</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/new/js/jquery.min.js"></script>
    <script src="/js/new/js/bootstrap.js"></script>
    <script src="/js/new/js/jquery.nicescroll.js"></script>
    <script src="/js/new/js/wow.js"></script>
    <script src="/js/new/js/script.js"></script>
	 <script src="/js/jquery.validate.js"></script>
	 <script src="/js/typeahead.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
