<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Press - Conception Events</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/preloader.css">
    <link rel="stylesheet" href="/css/animate.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
<script src="js/lte-ie7.js"></script>
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>


<body>
    <header>
        <div class="container logo-bar" id="Home">
            <a class="navbar-brand" href="/"><img src="images/logo2.png" alt=""></a>
            <nav class="navbar navi">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login" class="log">LOGIN</a></li>
                    <li><a href="/login" class="btn-primary">Submit your work</a></li>
                </ul>
            </nav>
        </div>
        <div class="section_overlay">
            <nav class="">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="">MAIN MENU</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li><a href="/about">about us</a></li>
                            <li><a href="/press">press</a></li>
<!--                             <li><a href="/campus">campus</a></li> -->
                            <li><a href="/what-new">what's new</a></li>
                            <li><a href="/community">community</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right social">
                            <li><a href="https://www.facebook.com/ConceptionEvents"><i class="fa fa-facebook"></i></a></li>
                            <li class="twitt">
                                <a href="https://twitter.com/ConceptionNYC"><i class="fa fa-twitter"></i></a>
                            </li>
											</ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
                <!-- /.container -->
            </nav>
        </div>
    </header>
    <section class="video-1">
        <div class="wrap">
            <div class="col-md-12 zero-padding">
                <div class="col-md-6 zero-padding"><iframe width="520" height="325" src="https://www.youtube.com/embed/xBlaXVedD1o?rel=0" frameborder="0" allowfullscreen></iframe>
                <div class="v_bottom">
                    <h2>Bling TV </h2>
                    <p class="v_p"><span clas="date"> 11/21/2014 by </span>Bling TV</p>
                </div>
                </div>
                <div class="col-md-6 text-left">
                    <div class="col-md-12 v_l">
											<h2 class="video_head"><a href="http://openthecity.co.uk/conception-nyc-emerging-artists-show/">Open Magazine</a> <i class="fa fa-long-arrow-right fah"></i></h2>
                        <p class="v_p"><span clas="date"> 11/12/2014 by </span>Open Magazine</p>
                    </div>
                    <div class="col-md-12 v_l">
											<h2 class="video_head"><a href="http://www.liverpoolecho.co.uk/whats-on/arts-culture-news/conception-events-albert-dock-liverpool-8098096">The Liverpool Echo</a> <i class="fa fa-long-arrow-right fah"></i></h2>
                        <p class="v_p"><span clas="date"> 11/12/2014 by </span>THE LIVERPOOL ECHO</p>
                    </div>
                    <div class="col-md-12 v_l">
											<h2 class="video_head"><a href="http://www.albertdock.com/2014/11/conception-arts-event-pan/">Albertdock.com</a> <i class="fa fa-long-arrow-right fah"></i></h2>
                        <p class="v_p"><span clas="date"> 11/11/2014 by </span>Albertdock.com</p>
                    </div>
                   <!--  <div class="col-md-12"></div>
                    <div class="col-md-12"></div> -->
                </div>
            </div>
        </div>
    </section>


    <section class="post-1">
        <div class="container">
            <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
									<h2 class="video_head"><a href="http://www.artinliverpool.com/?p=54845">Art in Liverpool</a> <i class="fa fa-long-arrow-right fah"></i></h2>
                    <p class="v_p"><span clas="date">11/10/2014 by </span>THE LIVERPOOL ECHO</p>
                </div>
            </div>
            <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
                    <h2 class="video_head"><a href="https://m.youtube.com/watch?v=jL-hdTbh3bk">NY1 News reporter, Agnes Chung covers BRINK</a> <i class="fa fa-long-arrow-right fah"></i></h2>
                    <p class="v_p"><span clas="date">10/10/2014 by </span>NY1</p>
                </div>
            </div>
            <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
                    <h2 class="video_head"><a href="http://news.artnet.com/in-brief/artists-reconstruct-studio-destroyed-by-hurricane-sandy-124299">Artists Reconstruct Studio Destroyed by Hurricane Sandy</a> <i class="fa fa-long-arrow-right fah"></i></h2>
                    <p class="v_p"><span clas="date">10/09/2014 by </span>Art Net</p>
                </div>
            </div>
            <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
                    <h2 class="video_head"><a href="http://artdaily.com/news/73210/Conception-Gallery-presents--Brink-#.VDgR50virwI">Conception Gallery presents ‘Brink’</a> <i class="fa fa-long-arrow-right fah"></i></h2>
                    <p class="v_p"><span clas="date">09/29/2014 by </span>Art Daily</p>
                </div>
            </div>
            <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
                    <h2 class="video_head"><a href="http://www.dnainfo.com/new-york/20141003/long-island-city/artists-rebuild-their-sandy-wrecked-studio-for-long-island-city-exhibit">Artists Rebuild Their Sandy-Wrecked Studio</a> <i class="fa fa-long-arrow-right fah"></i></h2>
                    <p class="v_p"><span clas="date">10/03/2014 by </span>DNA Info</p>
                </div>
            </div>
            <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
                    <h2 class="video_head"><a href="http://www.papermag.com/2014/10/art_openings_new_york_october.php">PAPERMAG: 9 Must-See Art Shows Opening This Week</a> <i class="fa fa-long-arrow-right fah"></i></h2>
                    <p class="v_p"><span clas="date">10/01/2014 by </span>Paper Magazine</p>
                </div>
            </div>
					
			<!-- end -->		
					
					
		<div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
        <h2 class="video_head"><a href="http://queenstribune.com/artists-rebuild-sandy-torn-studio-in-lic/">Artists Rebuild Sandy-Torn Studio In LIC</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">10/9/2014 by</span> Queens Tribune</p>
    </div>
  </div>
	
	
		
  <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
        <h2 class="video_head"><a href="http://www.qchron.com/qboro/stories/on-the-brink/article_7aaedba1-7fe5-520b-8b78-182e363a06c3.html">On the Brink</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">10/9/2014 by</span> Queens Chronicle</p>
    </div>
  </div>
	
	
	
   <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
        <h2 class="video_head"><a href="http://queenstribune.com/emerging-artists-in-lic-2/">Emerging Artists In LIC</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">6/12/2014 by </span> queenstribune.com</p>
    </div>
  </div>

<div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
        <h2 class="video_head"><a href="http://weheartlic.com/2014/06/long-island-city-emerging-artists-festival-opens-friday-june-6/">Long Island City Emerging Artists Festival Opens Friday June 6</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">6/11/2014 by </span> weheartlic.com</p>
    </div>
  </div>

   <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
        <h2 class="video_head"><a href="http://www.licnyc.com/2014/06/05/queens-arts-festival-to-feature-live-body-painting/">Queens Arts Festival to Feature Live Body-Painting</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">6/5/2014 by</span> licnyc.com</p>
    </div>
  </div>

<div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
        <h2 class="video_head"><a href="http://www.dnainfo.com/new-york/20140605/long-island-city/queens-arts-festival-feature-live-body-painting">Queens Arts Festival to Feature Live Body-Painting</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"> <span class="date">6/5/2014 by</span> DNAinfo.com</p>
    </div>
  </div>

   <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
        <h2 class="video_head"><a href="http://www.artslant.com/ny/events/show/340265-lic-emerging-artists-festival">Conception LIC Emerging Artists Festival</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">by</span> artslant.com</p>
    </div>
  </div>

<div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
    <h2 class="video_head"><a href="http://art-nerd.com/newyork/lic-emerging-artists-festival/">LIC Emerging Artists Festival</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">6/2/2014 by</span> artnerd.com</p>
    </div>
  </div>

 <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
    <h2 class="video_head"><a href="http://www.queenslatino.com/emerging-artists-take-long-island-city-june-6th-13th/">LIC Emerging Artists Festival</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">5/28/2014 by</span> queenslatino.com</p>
    </div>
  </div>

 <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
    <h2 class="video_head"><a href="http://www.vespaqueens.com/blog/the-emerging-artists-festival-vespa-queens">The Emerging Artists Festival + Vespa Queens</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">5/23/2014 by</span> vespaqueens.com</p>
    </div>
  </div>

<div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
    <h2 class="video_head"><a href="http://artefuse.com/2012/07/17/conception-returns/">Conception Events continues to unveil new talent to Tribeca</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">7/17/2012 by</span> artefuse.com</p>
    </div>
  </div>

 <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
    <h2 class="video_head"><a href="http://artefuse.com/2012/04/25/conception-gives-back/">Conception Gives Back</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">4/25/2012 by</span> artefuse.com</p>
    </div>
  </div>

<div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
    <h2 class="video_head"><a href="http://artefuse.com/2012/01/27/giving-birth-to-underground-art-in-tribeca-conception-ii/">Conception II</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">1/27/2012 by</span> artefuse.com</p>
    </div>
  </div>

  <div class="col-md-12 text-center v_l">
                <div class="text-left v_d ">
    <h2 class="video_head"><a href="http://artefuse.com/2011/10/29/conception-night-in-tribeca-nyc/">Conception Night in Tribeca NYC</a> <i class="fa fa-long-arrow-right fah"></i></h2>
									<p class="v_p"><span class="date">10/29/2011 by</span> artefuse.com</p>
    </div>
  </div>
            

        </div>
    </section>
    <footer class="footer">
        <div class="container text">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xm-6 text-left">
                    <p class="copyright">© 2015 Conception Events</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xm-6 text-right">
                    <p class="copyright">Cookies — Terms — Privacy · Contact Us</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="/js/new/js/jquery.min.js"></script>
    <script src="/js/new/js/bootstrap.js"></script>
    <script src="/js/new/js/jquery.nicescroll.js"></script>
    <script src="/js/new/js/wow.js"></script>
    <script src="/js/new/js/script.js"></script>
	 <script src="/js/jquery.validate.js"></script>
	 <script src="/js/typeahead.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script src="/js/jquery.cookie.js"></script>
  <script src="js/main.js"></script>
</body>

</html>
